/**
 * Pages Modifications
 */
@media only screen and (min-width: 980px) {
  .header .header-inner {
    padding-left: 55px;
  }

  body.menu-pin .header .header-inner {
   padding-left: 0;
  }

  body.menu-pin .page-sidebar .sidebar-header .sidebar-header-controls {
    padding-right: 25px;
  }
}

.page-container {
  height: 100vh;
}

.login-wrapper {
  background-color: #000;
}

.login-wrapper .bg-pic {
  background-color: #000;
}

.login-wrapper .bg-pic > img {
  opacity: 0.7;
}

.login-container > * {
  height: 100vh;
}

.error-container {
  padding-top: 200px;
}


/*.ownership-history-panel .panel > .panel-heading > .panel-title {
  text-transform: none;
}

.ownership-history-panel .panel.panel-default {
  border: 0;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  border-radius: 0;
}

.ownership-history-panel .panel + .panel {
  margin-top: 0;
}

.ownership-history-panel .panel-heading .panel-title > a {
  left: hidden;
}

.ownership-history-panel .panel-heading .panel-title > a:after {
  visibility: hidden;
}

.ownership-history-panel .panel-heading .panel-title > a:hover:before {
  color: #626262 !important;
}

.ownership-history-panel .panel-heading .panel-title > a:before {
  font-family: 'FontAwesome';
  content: "\f054";
  top: 15px;
  position: absolute;
  color: #626262;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ownership-history-panel .panel-heading .panel-title > a.collapsed {
  color: rgba(98, 98, 98, 0.7);
  opacity: 1;
}

.ownership-history-panel .panel-heading .panel-title > a.collapsed:before {
  content: "\f054";
  color: rgba(98, 98, 98, 0.7);
  -webkit-transform: initial;
  transform: initial;
}

.ownership-history-panel .panel-heading .panel-title > a > div.row {
  margin-left: 15px;
}*/

.ember-application .web-loading {
  display: none;
}


.source-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc {

}

.doc .doc-pages {

}

.doc .doc-pages .doc-page {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  /*display: -webkit-flex;
  display: flex;*/
}

.doc .doc-pages .doc-page:first-child {
  margin-top: 25px;
}

.doc .doc-pages .doc-page .doc-page-number {
  width: 25px;
  margin-right: 15px;
  /*flex: initial;*/
}

.doc .doc-pages .doc-page img {
  width: 650px;
  border: 1px solid lightgray;
  /*flex: auto;*/
}
