<!-- START JUMBOTRON -->
<div class="jumbotron no-margin" data-pages="">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <div class="row m-b-10">
        <div class="col-md-8">
          <h5 class="source-name">{{model.name}}</h5>
          <strong>{{capitalize-string model.kind}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

{{doc-viewer document=model}}
