<!-- START JUMBOTRON -->
<div class="jumbotron no-margin" data-pages="">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <div class="row m-b-10">
        <div class="col-md-8">
          <h5>{{model.name}}</h5>
          <strong>{{capitalize-string model.kind}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

<div class="container-fluid full-height no-padding">
  <div class="row full-height no-margin">
    <div class="col-md-9 no-padding b-r b-grey sm-b-b full-height">
      <div class="bg-white full-height">

      </div>
    </div>
    <div class="col-md-3 no-padding full-height">
      <div class="placeholder bg-success full-height">

      </div>
    </div>
  </div>
</div>
